{% extends 'base.html' %}

{% block content %}
  <h1>Create a new list</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="text" name="name"> {% endcomment %}
    <button>Create</button>
  </form>
{% endblock content %}
