{% extends 'base.html' %}

{% block content %}
  <h1>{{ todo_list.name }}</h1>
  <p>
    <a href="{% url 'todo_list_update' todo_list.pk %}">Edit</a> | <a href="{% url 'todo_list_delete' todo_list.pk %}">Delete</a>
  </p>
  <h2>Tasks</h2>
  <table>
    <tr>
      <th>Task</th>
      <th>Due date</th>
    </tr>
    {% for todo in todo_list.items.all %}
      <tr>
        <td>
          <a href="{% url 'todo_item_update' todo.pk %}">{{ todo.task }}</a>
        </td>
        <td>{{ todo.due_date }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
