{% extends 'base.html' %}

{% block content %}
  <h1>My Lists</h1>
  <p>
    <a href="{% url 'todo_list_create' %}">Create New List</a>
  </p>
  <p>
    <a href="{% url 'todo_item_create' %}">Create New Item</a>
  </p>
  <table >
    <tr>
      <th>Name</th>
      <th>Number of Items</th>
    </tr>
    {% for todo in todo_lists %}
      <tr>
        <td>
          <a href="{% url 'todo_list_detail' todo.pk %}">{{ todo }}</a>
        </td>
        <td>{{ todo.items.all|length }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
