<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
  </head>
  <body>
    <main>
      <div>
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </body>
</html>
